body {
	background-color: #f0f2ff;
	font-family: Arial, Helvetica, sans-serif;
}
body * {
	margin-bottom: 15px;
	margin-left: 2px;
	margin-right: 2px;
}
#container {
	margin: auto;
	padding: 3px;
	text-align: center;
	
	background-color: #fafaf9;
}
#book-frame {
	background-color: #f0f2ff;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.centered {
	padding: 100px;
	width: 300px;
	text-align: center;
	background-color: #fafaf9;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.book-img-s {
	background-image: url('thumbz-s.jpg');
	background-repeat: no-repeat;
}
.book-img-m {
	background-image: url('thumbz-m.jpg');
	background-repeat: no-repeat;
}
.book-img-l {
	background-image: url('thumbz-l.jpg');
	background-repeat: no-repeat;
}
a {
	text-decoration: none;
}
.alnk {
	color: #fff;
	background-color: #333366;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	border: none;
}
.alnk:hover {
	color: #333366;
	background-color: #fff;
}
form input {
	min-width: 250px;
}
input {
	padding: 12px 20px;
	margin: auto;
	display: inline;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
label {
    width: 150px;
    clear: left;
    text-align: right;
	padding: 7px 7px 5px 0px;
    float:left;
}
/*Animation*/
.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}