body {
	background-color: #f0f2ff;
	font-family: Arial, Helvetica, sans-serif;
}
body * {
	margin-bottom: 15px;
	margin-left: 2px;
	margin-right: 2px;
}
#container {
	margin: auto;
}
#jess {
	background-color: #f0f2ff;
	width: 300px;
}
a {
	text-decoration: none;
}
.alnk {
	color: #fff;
	background-color: #333366;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	border: none;
}
.alnk:hover {
	color: #333366;
	background-color: #fff;
}
form input {
	min-width: 250px;
}
input {
	padding: 12px 20px;
	margin: auto;
	display: inline;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
label {
    width: 150px;
    clear: left;
    text-align: right;
	padding: 7px 7px 5px 0px;
    float:left;
}