<!DOCTYPE html>
<html>
<head>
	<html lang="en">
	<meta charset="utf-8"/>
	<title>Library</title>
	<link rel="stylesheet" href="../static/cscl.css">
</head>
<body>
	<h1>Add a new book</h1>
	<form method='post'>
		<p>
			<label>Title:</label>
			<input type='text' name='title'>
		<br>
			<label>Author: </label>
			<input type='text' name='author'>
		<br>
			<label>ISBN:</label>
			<input type='text' name="isbn">
		<br>
			<label>Publication Year:</label>
			<input type='text' name="publication_year">
		<br>
			<label>Publisher:</label>
			<input type='text' name="publisher">
		<br>
			<label>Image Url (Small):</label>
			<input type='text' name="image_url_s">
		<br>
			<label>Image Url (Medium):</label>
			<input type='text' name="image_url_m">
		<br>
			<label>Image Url (Large):</label>
			<input type='text' name="image_url_l">
		<br>
			<label>Copies:</label>
			<input type='text' name="copies">
		<br>
			<label>Available:</label>
			<input type='text' name="available">
		<br>
			<button class="alnk" type="submit">Add</button>
		</p>
	</form>
</body>
</html>