{% extends "base.html" %}

{% block title %}
	CSCL - Admin
{% endblock %}
{% block body %}
	<h1>Welcome, Admin</h1>
		<a class="alnk" href=" {{ url_for('admin') }}">
		Admin Home
		</a>
	<div id="book-frame">
		<p><img class='book-img-l' src="{{book.image_url_l}}" alt="book image" height= "475" width="290"></p>
		<p>Title: {{book.title}}</p>
		<p>Author: {{book.author}}</p>
	</div>
	<div>
		{% if indx > 0 %}
			<a class="alnk" href=" {{ url_for('admin_lib_view', indx = indx - 1) }}">
			Prev book
			</a>
		{% endif %}
		{% if indx < max_indx %}
			<a class="alnk" href=" {{ url_for('admin_lib_view', indx = indx + 1) }}">
			Next book
			</a>
		{% else %}
			<a class="alnk"href=" {{ url_for('admin_lib_view', indx = 0) }}">
			Start Over
			</a>
		{% endif %}
	</div>
	<div>
		<a class="alnk" href="{{ url_for('remove_book', indx=indx) }}">
			Remove Book
		</a>
		<a class="alnk" href="{{ url_for('edit_book', indx=indx) }}">
			Edit 
		</a>
	</div>
{% endblock %}