{% extends "base.html" %}

{% block title %}
	CSCL - {{book.title}}
{% endblock %}
{% block body %}
<div>
	<a class="alnk" style="float:right;" href=" {{ url_for('lib_view') }}">
		Home
	</a>
	<br>
	<h1>Catalog</h1>
</div>
<div id="book-frame">
		<p>
			<img class="book-img-l" alt="book image" src="{{book.image_url_l}}" height= "475" width="290">
		</p>
		<p>Title: {{book.title}}</p>
		<p>Author: {{book.author}}</p>
	</div>
	<div>
		{% if indx > 0 %}
			<a class="alnk" href="{{ url_for('lib_page_view', indx = indx - 1) }}">
				<strong><</strong>
			</a>
		{% endif %}
		{% if indx < max_indx %}
			<a class="alnk" href="{{ url_for('lib_page_view', indx = indx + 1) }}">
				<strong>></strong>
			</a>
		{% else %}
			<a class="alnk" href="{{ url_for('lib_page_view', indx = 0) }}">
				Start Over
			</a>
		{% endif %}
	<p>
		Copies Available: {{ book.available }}
	</p>
	</div>
	{% if book.available > 0 %}
		<form method="post">
			<input class="alnk" name="available" value="Checkout" type="submit">
		</form>
	{% endif %}
	{% if book.available < book.copies %}
		<form method="post">
			<input class="alnk" name="available" value="Return" type="submit">
		</form>
	{% endif %}
{% endblock %}