<!DOCTYPE html>
<html>
<head>
	<html lang="en">
	<meta charset="utf-8"/>
	<title>Library</title>
	<link rel="stylesheet" href="../static/cscl.css">
</head>
<body>
<div id="container">
	<h1>Welcome</h1>
		<a class="alnk" href=" {{ url_for('lib_view') }}">
		Home
		</a>
	<div id="jess">
		<p><img src="{{book.image_url_l}}" height= "475" width="290"></p>
		<p>Title: {{book.title}}</p>
		<p>Author: {{book.author}}</p>
	</div>
	<p>
		{% if indx > 0 %}
			<a class="alnk" href=" {{ url_for('lib_page_view', indx = indx - 1) }}">
			Prev book
			</a>
		{% endif %}
		{% if indx < max_indx %}
			<a class="alnk" href=" {{ url_for('lib_page_view', indx = indx + 1) }}">
			Next book
			</a>
		{% else %}
			<a class="alnk"href=" {{ url_for('lib_page_view', indx = 0) }}">
			Start Over
			</a>
		{% endif %}
	</p>
</div><!--container-->
</body>
</html>